body {
    margin: 0;
    padding: 0;
}

#screen {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}

#navbar {
    margin: 0;
    width: 25%;
    box-sizing: border-box;

    background-color: #f7f7f7;
    outline: 1px solid lightgray;
}

#viewport {
    margin: 0;
    width: 75%;
    
    box-sizing: border-box;
}




#navbar > #new-note{
    margin: 10px 0;
    height: 2.5%;

    color: lightgray;

    font-size: 20px;
    font-style: italic;
    text-align: center;
}

#navbar > #new-note:hover {
    color: #8E94F2;
}

#navbar > .list-item {
    margin: 5px;
    height: 5%; /* 1/20th of screen height - TODO adjust height to be consistent across borser resizes and also a suitable size for various screen sizes */

    /* This is added to align text vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    outline: 1px solid lightgray;
    color: #13315C;
}

#navbar > .list-item > div {
    text-align: center;
    font-family: "Garamond";
    font-size: 24px;
}

#navbar > .list-item:hover {
    background-color: azure;
    color: #8E94F2;
}




#viewport > #title-header {
    margin: 25px 50px;
    height: 5%;

    color: #13315C;
    border-bottom: 1px solid lightgray;

    text-align: center;
    font-size: 24px;
}

#viewport > #note-contents {
    margin: 25px 50px;

    font-size: 18px;
    font-family: "Garamond";
    line-height: 1.3;
    word-spacing: 8.5px;

}

.editable:hover {
    background-color: azure;
    border: 1px solid lightgray;
}


a {
    color: #8E94F2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}